<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qn.furnitue.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.qn.furnitue.model.User">
    <constructor>
      <arg column="uid" javaType="java.lang.String" jdbcType="VARCHAR" /><!--用户id-->
      <arg column="uloginname" javaType="java.lang.String" jdbcType="VARCHAR" /><!--登录账号-->
      <arg column="upassword" javaType="java.lang.String" jdbcType="VARCHAR" /><!--登录密码-->
      <arg column="uname" javaType="java.lang.String" jdbcType="VARCHAR" /><!--用户姓名-->
      <arg column="sex" javaType="java.lang.String" jdbcType="VARCHAR" /><!--用户性别-->
      <arg column="uage" javaType="java.lang.Integer" jdbcType="INTEGER" /><!--用户年龄-->
      <arg column="utime" javaType="java.util.Date" jdbcType="TIMESTAMP" /><!--创建时间-->
      <arg column="uphone" javaType="java.lang.String" jdbcType="VARCHAR" /><!--用户手机号码-->
      <arg column="uemail" javaType="java.lang.String" jdbcType="VARCHAR" /><!--用户电子邮箱-->
      <arg column="ulogintime" javaType="java.util.Date" jdbcType="TIMESTAMP" /><!--登录时间-->
      <arg column="ulast_logi" javaType="java.util.Date" jdbcType="TIMESTAMP" /><!--退出登录时间-->
      <arg column="ucount" javaType="java.lang.Integer" jdbcType="INTEGER" /><!--登录次数-->
      <arg column="urole" javaType="java.lang.Integer" jdbcType="INTEGER" /><!--角色登入-->
      <arg column="urepassword" javaType="java.lang.Integer" jdbcType="INTEGER" /><!--登录确认密码-->
    </constructor>
  </resultMap>
  <insert id="insertUser" parameterType="com.qn.furnitue.model.User">
    insert into user (uid, uloginname, upassword,uphone,ulogintime,urole,urepassword)
    values (#{uid}, #{uloginname},#{upassword},#{uphone},#{ulogintime},#{urole},
      #{urepassword})
  </insert>
  <select id="querySinggeUser" parameterType="com.qn.furnitue.model.User" resultType="com.qn.furnitue.model.User">
        select uloginname,upassword,urole from user where  uloginname=#{uloginname} and  upassword=#{upassword}
    </select>
  <update id="updateUser" parameterType="com.qn.furnitue.model.User" >
        select uloginname,upassword,urole from user where  uloginname=#{uloginname} and  upassword=#{upassword}
    </update>
</mapper>